
body {
  background-color: white;
}


#svg{
  background-color:lightgrey;
  outline: 2px solid rgb(121,10,15);
}

div#main_timeline{
  height: 800px;
  width: 1100px;
  border:2px solid #000;
  overflow: scroll;
}

.hide{
  display: none;
}

.mmpgroup rect {
  fill: white;
  stroke: rgb(61,62,65);
  opacity: .7;
}

.mmpgroup.mmpSelected rect{
  fill: mediumslateblue;
  opacity: .9;
}

.mmpgroup foreignObject{
  user-select: none;
}

.mmpgroup foreignObject p{
  font-size: 16px;
  text-align: center;
}

.attack{
  fill: orange;
  stroke: yellow;
}

.attack:hover{
  fill:rgb(233, 68, 13)
}

.leader{
  fill: grey;
  stroke: black;
}

.relationship{
  stroke-width: 2px;
}

.relationship.Split{
  stroke: black;
  fill: grey;
}

.relationship.Ally{
  stroke: blue;
  fill: cyan;
  stroke-dasharray: 15,5;
}

.relationship.Rival{
  stroke: rgb(248, 120, 1);
  fill: yellow;
  stroke-dasharray: 5,5;
}

.relationship.mmpSelected{
  stroke-width: 4px;
}
.relationship .clicker{
  fill-opacity: .5;
}

.relationship .clicker:hover{
  fill-opacity: 1;
}

.timeline{
  fill: white;
  stroke: black;
}

#description_div{
  background-color: white;
  border-radius: 6px;
  padding: 1em;
}