
body {
  background-color: white;
}

.menu_wrapper{
  background-color: white;
}



#svg{
  background-color:lightgrey;
  outline: 2px solid rgb(121,10,15);
}

.hide{
  display: none;
}

.mmpgroup rect {
  fill: white;
  stroke: rgb(61,62,65);
  opacity: .7;
}

.mmpgroup.mmpSelected rect{
  fill: mediumslateblue;
  opacity: .9;
}

.mmpgroup foreignObject{
  user-select: none;
}

.mmpgroup foreignObject p{
  font-size: 16px;
  text-align: center;
}

.attack{
  fill: orange;
  stroke: yellow;
}

.leader{
  fill: grey;
  stroke: black;
}

.relationship{
  stroke-width: 2px;
}

.relationship.Split{
  stroke: black;
}

.relationship.Ally{
  stroke: blue;
  stroke-dasharray: 15,5;
}

.relationship.Rival{
  stroke: rgb(248, 120, 1);
  stroke-dasharray: 5,5;
}

.relationship.mmpSelected{
  stroke-width: 5px;
}

.timeline{
  fill: white;
  stroke: black;
}

#description_div{
  background-color: white;
  border-radius: 6px;
  padding: 1em;
}