
body {
  background-color: white;
}

.menu_wrapper{
  background-color: white;
}



#svg{
  background-color:lightgrey;
  outline: 2px solid rgb(121,10,15);
}

.hide{
  display: none;
}

.mmpgroup rect {
  fill: white;
  stroke: rgb(61,62,65);
  opacity: .7;
}

.mmpgroup.mousedover rect{
  fill: mediumslateblue;
  opacity: .9;
}

.mmpgroup foreignObject{
  user-select: none;
}

.mmpgroup foreignObject p{
  font-size: 16px;
}

.attack{
  fill: orange;
  stroke: yellow;
}

.leader{
  fill: grey;
  stroke: black;
}

.relationship.Split{
  stroke: black;
}

.relationship.Ally{
  stroke: blue;
}

.relationship.Rival{
  stroke: orange;
}

.timeline{
  fill: white;
  stroke: black;
  marker-end: none;
}

#description_div{
  background-color: white;
  border-radius: 6px;
  padding: 1em;
}

.description_header {
  font-weight: bold;
}
.mmpgroup_description{
  border: 2px solid black;
}

.attack_description{
  border: 2px solid orange;
}

.leader_description{
  border: 2px solid grey;
}

.relationship_description{
  border: 2px solid blue;
}